<div class="card" *ngIf="isLoading">
	<h5 class="card-header">Loading...</h5>
	<div class="card-block text-xs-center">
		<i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
	</div>
</div>

<div class="card" *ngIf="!isLoading">
	<h5 class="card-header">Current Todo's ({{todos.length}})</h5>
	<div class="card-block">
		<table class="table table-bordered table-striped">
			<thead class="thead-default">
				<tr>
					<th>Priority</th>
					<th>Topic</th>
					<th>Summary</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody *ngIf="todos.length === 0">
				<tr>
					<td colspan="4">There are no Todos in the DB. Add a new TODO below.</td>
				</tr>
			</tbody>
			<tbody *ngIf="!isEditing">
				<tr *ngFor="let todo of todos">
					<td>{{todo.priority}}</td>
					<td>{{todo.topic}}</td>
					<td>{{todo.summary}}</td>
					<td>
						<button class="btn btn-sm btn-warning" (click)="enableEditing(todo)"><i class="fa fa-pencil"></i> Edit</button>
						<button class="btn btn-sm btn-danger" (click)="deleteCat(todo)"><i class="fa fa-trash"></i> Delete</button>
					</td>
				</tr>	
			</tbody>
			<tbody *ngIf="isEditing">
				<tr>
					<td colspan="4">
						<form class="form-inline" #form="ngForm" (ngSubmit)="editCat(todo)" style="display:inline">
							<div class="form-group">
							    <input class="form-control" type="text" name="priority" [(ngModel)]="todo.priority" placeholder="Priority" required>
							</div>
							<div class="form-group">
								<input class="form-control" type="text" name="tpic" [(ngModel)]="todo.topic" placeholder="Topic" required>
							</div>
							<div class="form-group">
								<input class="form-control" type="text" name="summary" [(ngModel)]="todo.summary" placeholder="Summary"  required>
							</div>
							<button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
						</form>
						<button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
					</td>
				</tr>
			</tbody>
		</table>
		<div [hidden]="!infoMsg.body" class="alert alert-{{infoMsg.type}} alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<strong>Message:</strong> {{infoMsg.body}}
		</div>
	</div>
</div>

<!-- this is if for the lower form for adding the content -->
<div class="card" *ngIf="!isEditing">
	<h5 class="card-header">Add new Todo</h5>
	<div class="card-block">
		<form class="form-inline" [formGroup]="addTodoForm" (ngSubmit)="addCat()" style="text-align:center">
			<div class="form-group">
			    <input class="form-control" type="text" name="priority" formControlName="priority" placeholder="Priority">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="topic" formControlName="topic" placeholder="Topic" >
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="summary" formControlName="summary" placeholder="Summary" >
			</div>
			<button class="btn btn-primary" type="submit" [disabled]="!addTodoForm.valid"><i class="fa fa-floppy-o"></i> Add</button>
		</form>
	</div>
</div>